.hero-section .jon {
    justify-content: center;
}

.hero-section .image-holder {
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.hero-section .image-holder img {
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease;
}

.hero-section .image-holder img:hover {
    transform: scale(1.02);
}

.whats-app  a{
    position: fixed;
    align-items: center;
    align-content: center;
    right: -50%;
    bottom: 0;
    margin-bottom: 12px;
    display: inline-flex;
    color: rgb(0, 0, 0);
    border-radius: 100%;
    background-color: rgba(25, 230, 93, 0.4);
    backdrop-filter: blur(5px);
    z-index: 50;
    transition: transform .5s;
    animation: Slide 0.5s forwards;
}

@keyframes Slide {
    to {
        right: 10px;
    }
}

.whats-app a:hover {
    transform: scale(1.2); 
}

.whats-app img {
    position: relative;
    width: 2rem;
    height: 2rem;
    
    margin:10px;
    z-index: 10;
}
